.lastest_new{
    padding: 110px 0 80px;
}

.blue_circle_wrapper{
    display: flex;
    justify-content: end;
    position: relative;
    height: 300px;
    z-index: -1;
}

.blue_circle{
    position: absolute;
    display: block;
    right: -150px;
    bottom: -200px;
    width: 300px;
    height: 100%;
    background-image: url(https://expert-themes.com/html/eventrox/images/icons/circle-blue.png);
    z-index: -1;
}

.red_line{
    position: absolute;
    left: 250px;
    top: 50px;
    height: 73px;
    width: 70px;
    background-image: url(	https://expert-themes.com/html/eventrox/images/icons/twist-line-3.png);
    z-index: -1;
}

.purple_line{
    position: absolute;
    left: 40px;
    top: 100px;
    height: 73px;
    width: 70px;
    background-image: url(https://expert-themes.com/html/eventrox/images/icons/twist-line-2.png);
    z-index: -1;
}

.blue_line{
    position: absolute;
    left: 50px;
    top: 300px;
    height: 70px;
    width: 70px;
    background-image: url(	https://expert-themes.com/html/eventrox/images/icons/twist-line-1.png);
    z-index: -1;
}

.blogs{
    text-align: center;
    font-size: 16px;
    line-height: 1em;
    letter-spacing: 5px;
    color: #a30767;
    font-weight: 600;
}

.big_title{
    margin-top: 20px;
    text-align: center;
    font-size: 48px;
    line-height: 1.2em;
    color: #1e1f36;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}

.news{
    gap: 35px;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: -200px;
}

.new{
    display: block;
    width: 370px;
    /* width:  100%; */
    box-shadow: 0 0 20px rgba(0,0,0,0.10);
}

.content{
    margin: 10px 30px 30px 30px;
    width: auto;
}

.small_content{
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    font-weight: 400;
}

.small_content span{
    color: #1d95d2;
    padding: 5px 5px 0 0;
}

.small_content div{
    width: auto;
    margin-right: 10px;
}

.img_box a{
    position: relative;
    display: block;
    width: 100%;
}

.img_box img{
    width: 100%;
}

.lastest_new_title{
    font-size: 22px;
    line-height: 1.4em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    margin: 10px 0 20px 0;
}

.lastest_new_title a{
    color: #222222;
}

.lastest_new_title a:hover{
    color: #f20487;
}

.read_more_button a{
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    padding: 4px 15px;
    background-color: #1d95d2;
    border-radius: 2px;
    border: 1px solid #1d95d2;
    transition: all 300ms ease;
}

.read_more_button a:hover{
    background: none;
    color: #1d95d2;
    border-color: #1d95d2;
}
.new:hover .img_box a:after {
    opacity: 1;
    top: 0%;
    left: 0%;
    transition-property: left, top;
    transition-duration: 0.1s 0.3s 0.3s 0.15s;
    transition-timing-function: linear;
}
.new .img_box a:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}
